* {
  box-sizing: border-box;
  font-family: arial;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
  margin: 0;
}

#body {
  padding-bottom: 25px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  border-top: 10px solid white;
  background-color: white;
}

#header {
  width: 100%;
  background-color: white;

}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  /* width: 100%;
  height: 100%; */
}

.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.cart-icon {
  /* margin-top: 20px; */
  /* float: right; */
  max-width: 50px;
  max-height: 50px;
  /* width: 100%;
  height: 100%; */
}

.cart-icon:hover {
  border-bottom: 1px #0EAEBC dashed;
  transform: scale(1.2)
}

.title {
  font-weight: normal;
  text-align: center;
  font-size: 40;
  color: black;
  padding-top: 0;
  margin: 0;
}

.store-header {
  width: 50%;
  margin: auto;
}

.store {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 5px;
  padding-bottom: 50px;
}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  max-width: 260px;
  max-height: 375px;
}

.item:hover {
  border: 0;
}

.image-container {
  position: relative;
  height: 50%;
  width: 100%;
}

.store-img {
  width: 100%;
  height: 175px;
}

.item-body {
  position: relative;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: white;
}

.item-body h3 {
    margin: 0;
}

.item-body h4 {
  padding: 5px;
  display: inline;
}

.item-price-before {
  text-decoration: line-through;
  color: tomato;
}

.item-price-after {
  float: right;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.item-name {
  font-weight: normal;
  font-size: 15;
}

.rating {
  margin-top: 10px;
  margin-bottom: 25px;
}

.add-button {
  margin-top: 50px;
  padding: 5px;
}

.add-button button {
  display: block;
  border-radius: 5px;
  background-color: #0EAEBC;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.button-text {
  vertical-align: middle;
  padding: 0px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 13;
}

.small-cart-icon {
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}
